h1{
  align-items: center;
}

#main-section {
  display: flex;
  justify-content: space-around;
}

#chat-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#messages-section {
  flex:4 200px;
  border: 1px solid black;
}

#listes-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#listes-section li {
  border: 1px solid black;
}
