#main-section {
  display: flex;
  max-width: 800px;
}

#chat-section {
  display: flex;
  flex:2;
  margin-right: 100px;
  flex-direction: column;
}

#listes-section {
  display: flex;
  flex:1;
  flex-direction: column;
}

#messages-section {
  border: 1px solid black;
}

#listes-section li {
  border: 1px solid black;
}

#listes-section > div {
  margin-bottom: 50px;
}

.message:nth-child(odd){
  color: rgb(255,0,0);
}

.message:nth-child(even){
  color: rgb(0,0,255);
}
