#main-section {
  display: flex;
  max-width: 800px;
	max-height: 600px;
}

#chat-section {
  display: flex; 
  flex:2;
  margin-right: 100px;
  flex-direction: column;
}

#listes-section {
  display: flex;
  flex-direction: column;
}

#messages-section {
  height: 200px;
  border: 1px solid black;
}

#chat:nth-child(odd){
  color: rgb(255,0,0);
}

#chat:nth-child(even){
  color: rgb(0,0,255);
}

#demarrer{
	display: none;
}

